* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
} 
* {
	font-family: 'Lato', sans-serif;
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    overflow: 	auto;
}


.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%; 
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
    min-width: 330px;
    text-align: center;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
    text-align: right;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
    text-align: center;
}
@media screen and (max-width: 900px) {

    .biggy {display:auto;}
}
@media screen and (max-width: 645px) {

    .logo {display:none;}
}
@media screen and (max-width: 1150px) {

    .trio {display:block;}
}
hr {
    color: #BCBBBB;
    background: #BCBBBB;
    height: 5px;
    width: 100%;
    border-style: solid;
}
h1 {
    color: #747704;
    font-size: 48px;
    font-weight: 300
}
h2 {
    font-size: 20px;
    color: #BCBBBB;
}
h3 {
    font-size: 32px;
    color: #BCBBBB;
    margin-left: 30px;
}
h4 {
    color: #747704;
    font-size: 42px;
    font-weight: 200;
    margin-top: 5px;
    margin-bottom: 5px;
}
.biggy {
    margin-top: 28px;
    max-width:1200px;
    max-height: 450px;
    text-align: center;
    width: 80%;
}
.trio {
    width:100%;
    max-width: 310px;
    max-height: 200px;
    min-height: 200px;
    text-align: center;
}
.logo {
    max-height: 170px;
}
a:link {
color:#747704;
background-color:transparent;
text-decoration:none;
}
a:visited {
color:#000000;
background-color:transparent;
text-decoration:none;
}
a:hover {
color:#747704;
background-color:transparent;
text-decoration:underline; 
}
a:active {
color:#000000;
background-color:transparent;
text-decoration:underline;
}